.about-container {
  background-color: #fe472b;
  width: 100vw;
  height: 100vh;
  padding: 20% 2.5% 15% 2.5%;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.about-frame {
  background: url('./images/frame-shape-vert.png') no-repeat;
  background-size: contain;
  width: 95vw;
  height: 85vh;
  box-sizing: border-box;
  padding: 16% 20% 10% 20%;
}

.about-text-row {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

.about-header {
  font-family: 'Rubik Mono One', sans-serif;
  color: #fe472b;
  font-weight: 700;
  font-size: 7.8vw;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.about-paragraph {
  font-family: 'Raleway', sans-serif;
  color: #b9311c;
  font-size: 4vw;
  line-height: 5.5vw;
  text-align: justify;
  hyphens: auto;
  position: absolute;
  top: 9vw;
  bottom: 0;
  left: 0;
  right: 0;
}

/*@media (min-width:600px) {

  .about-container {
    background-color: #fe472b;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .about-frame {
    background: url('./images/frame-shape-vert.png') no-repeat;
    background-size: contain;
    width: 85%;
    height: 85%;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 10%;
    left: 8%;
  }

  .about-text-row {
    width: 62%;
    height: 70%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 4%;
    left: 0;
    right: 0;
  }

  .about-header {
    font-family: 'Rubik Mono One', sans-serif;
    color: #fe472b;
    font-weight: 700;
    font-size: 7.6vw;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .about-paragraph {
    font-family: 'Raleway', sans-serif;
    color: #b9311c;
    font-size: 3.3vw;
    line-height: 5.5vw;
    margin: auto;
    top: 11%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (min-width:768px) {

  .about-container {
    background-color: #fe472b;
    width: 100vw;
    height: 100vh;
    padding: 15% 30% 10% 20%;
  }

  .about-frame {
    background: url('./images/frame-shape-vert.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 10%;
    left: 8%;
  }

  .about-text-row {
    width: 62%;
    height: 70%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 4%;
    left: 0;
    right: 0;
  }

  .about-header {
    font-family: 'Rubik Mono One', sans-serif;
    color: #fe472b;
    font-weight: 700;
    font-size: 7.6vw;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .about-paragraph {
    font-family: 'Raleway', sans-serif;
    color: #b9311c;
    font-size: 3.3vw;
    line-height: 5.5vw;
    margin: auto;
    top: 11%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}*/

@media (min-width:1024px) {

  .about-container {
    padding: 7% 19% 5% 19%;
  }

  .about-frame {
    background: url('./images/frame-shape.png') no-repeat;
    background-size: contain;
    width: auto;
    height: 100%;
    padding: 10% 15% 10% 15%;
  }

  .about-text-row {

  }

  .about-header {
    font-size: 6.35vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .about-paragraph {
    font-size: 1.8vw;
    line-height: 2.8vw;
    width: 100%;
    position: absolute;
    top: 6.5vw;
  }
}

@media (min-width:1900px) {
  .about-text-row {
    width: 90%;
  }

  .about-header {
    font-size: 5.65vw;
  }

  .about-paragraph {
    font-size: 1.4vw;
    line-height: 2.4vw;
  }
}
